*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    line-height: 1.7rem;
}

body{

}
/*......    nav bar....*/
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 50px;
    box-shadow: 0px -60px 90px 0px;

 

}
nav{
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    justify-content: space-around;
    padding: 11px;
    margin: 2px 3px;
    border-radius: 5px;
   font-weight: 600;
  


}
a:hover{
    background-color: #9929FB;
    color: white;
    
    transition: 0.7s;
}
/*........    nav bar end.....*/
 

/*.....   Hero Section....*/


.container1{
    padding: 10px 10px;
   margin: 76px 0px;
    
    display: flex;
    flex-direction: row;
    
    
} 
 
.but{
    
    text-decoration: none;
    justify-content: space-around;
    padding: 11px;
    margin: 60px 0px;
    margin-bottom: 20x;
    border-radius: 5px;
   font-weight: 600;
   border:1px solid #9929FB;
   background-color: #a34fec;
   color: white;

}
.innermain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
   
    
}
.innercont1{
    width: 60%;
    
    padding-right: 30px;
}
.innercont1 h1{
    font-size: 56px;
    line-height: 5rem;
}
.innercont1 p{
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.image{
   
    justify-content: center;
}
.image img{
   height: 300px;
   
   
   border-radius: 25px;
   box-shadow: 0px 05px 30px -10px  rgba(0, 0, 0, 0.452);
   margin-bottom: 20px;
   

}
.sub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin-top: 40px;
    width: 100%;
   
}
.suv{
    display: inline-block;
    flex-direction: column;
    padding: 15px 50px;
    background-color: #F6EBFE;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    border-radius: 5px;

}

@media  screen and(max-width:600x) {
    .container1{
        padding: 10px 0px;
       margin: 60px 0px;
        
        display: flex;
        flex-direction: row;
}

.innercont1{
    width: 60%;
    
    padding-right: 0px;
}

}
/*
.innermain{
    background-color: beige;
    display: flex;
flex-direction: row;
justify-content: space-between;
padding: 50px 60px;
border-radius: 25px;
box-shadow: 0px 05px 90px -50px;
width: 100%;

}
.innermain img{
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.innercont1{
    width: 40%;

}
.innercont1 h1{
    line-height: 80px;

} ........*/


/*.......    ist section over..... */
/*.....   2nd section start....*/

.scondsec{
    padding: 0px 100px;
    padding-bottom: 70px;
    
}
.second{
    
    display: flex;
    flex-direction: row;
    
justify-content: space-evenly;
background-color: #F6EBFE;
padding: 40px 30px;
border-radius: 25px;
box-shadow: 0px 05px 30px -10px  rgba(0, 0, 0, 0.452);


}
.second img{
    width: 20vw;
    margin-right: 50px;
   
 
}

.text h2{
    font-size: 40px;
    font-weight: 700;
    color: #9929FB;
    line-height: 5rem;
    
}
.butt{
    margin-top: 30px;
    padding: 10px;
    background-color: #9929FB;
color: white;
border: 0px;
border-radius: 8px;
}
.butt:hover{
    background-color: #a34fec;
}
.text{
    flex-wrap: wrap; 
}


@media screen and (max-width:600px) {

    .scondsec{
        padding: 0px 30px;
        padding-bottom: 70px;
        margin-top: 30px;
    }
    .second{
    
        display: flex;
        flex-direction: column;
    
    
    justify-content: space-evenly;
    background-color: #F6EBFE;
    padding: 30px 20px;
    border-radius: 25px;
    box-shadow: 0px 05px 30px -10px  rgba(0, 0, 0, 0.452);
    
    }
    .text{
       
        flex-wrap: wrap; 
    }
    .text h2{
        font-size: 30px;
        font-weight: 700;
        color: #9929FB;
        line-height: 2.5rem;
      word-wrap: break-word;
        
    }
    .second img{
        width: 20vw;
        margin-right: 50px;
}

.second img{
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
   
}


}
/*.......   end of 2nd section.....*/

/*........    3rd section start ..... */

.section3{
    padding: 60px 50px;
    display: flex;
    flex-direction: row;
    
    background-color: #f5f5f5;
  }
  .row1{
  width: 40%;
    align-items: center;
    margin: 120px 0px;
    
  }
  .row2{
    width: 30%;
    padding: 20px;
    margin: 0px 20px;
  }
  .box1{
    padding: 45px 25px;
    height: 150px;
    box-shadow: #F0F1F3;
    box-shadow: 0px 0px 20px -15px;
    margin: 10px 0px;
    margin-bottom: 45px;
    border-radius: 20px;
    background-color: white;
  }
  .box1:hover{
      box-shadow: 0px 2px 22px -9px;
  }
  .section3 h3{
    font-size: 25px;
    color: #9929FB;
    line-height: 3rem;
  }
  .section3 h2{
    font-size: 40px;
    line-height: 5rem;
   
  }

  @media screen and (max-width:600px){

  

        * {
            box-sizing: border-box;
        }
    
        .section3 {
            padding: 20px 20px;
            display: flex;
            flex-direction: column;
            background-color: #f5f5f5;
        }
    
        .box1 {
            width: 100%;
            max-width: 100%;
            padding: 20px 10px;
            height: auto;         
            margin: 20px 0px;
            border-radius: 20px;
            background-color: white;
            box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.3);
            overflow: hidden;    
        }
    
        .row1 {
            margin: 20px 0;  
            width: 100%;
        }
    
        .row2 {
            padding: 10px;
            width: 100%;
        }
    
        .row1 img,
        .row2 img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    


  /*...... end of 3rd section .....*/

  /* ......  start 4th section ....*/

.sect4{
    padding:30px 80px 30px 80px;
}
.sect4 h2{
    font-size: 40px;
    line-height: 5rem;
}
  .common{
    display: grid;
  grid-template-columns: auto auto auto auto;
 
  grid-gap: 30px;
    
  }

  .pro img{
       width: 100%;
       height: 250px;
       margin-bottom: 15px;
  }
  .pro{
background-color: #F0F1F3;
padding: 35px 20px;
border-radius:15px;
  }
  .pro a{
    padding: 0px;
    background-color: #F0F1F3;
    text-align: center;
  }
  .pro a:hover{
    padding: 0px;
    background-color: #F0F1F3;
    color: #9929FB;
    
  }
  .pro p{
margin-bottom: 20px;
}
.sect4 p{
    margin-bottom: 25px;
    text-align: center;
}
.sect4 h2{
   text-align: center;
   
}

@media screen and (max-width:600px) {

    .sect4 {
        padding: 30px 20px;   /* reduce large padding */
    }

    .sect4 h2 {
        font-size: 26px;      /* smaller heading for mobile */
        line-height: 1.4;     /* fix wrapping issue */
        text-align: center;
    }

    .sect4 p {
        margin-bottom: 15px;
        text-align: center;
    }

    /* Make grid responsive */
    .common {
        display: grid;
        grid-template-columns: 1fr;  /* 2 columns on mobile */
        gap: 15px;                       /* smaller gap */
        width: 100%;
    }

    /* For 1-column layout (optional):
       grid-template-columns: 1fr;
    */

    .pro {
        padding: 20px 15px;
        border-radius: 12px;
        background-color: #F0F1F3;
    }

    .pro img {
        width: 100%;
        height: auto;        /* keep aspect ratio */
        margin-bottom: 10px;
        display: block;
    }

    .pro p {
        margin-bottom: 15px;
    }

    .pro a {
        display: block;
        text-align: center;
        background-color: #F0F1F3;
        padding: 0;
    }

    .pro a:hover {
        color: #9929FB;
    }
}


/*......    end of fourth section.....  */

/*......   5th section  .....  */

